[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "*"

[dev-packages]

[requires]
python_version = "3.8"
python -m venv venv
source venv/bin/activate  # On Windows, use `venv\Scripts\activate`

